
<!-- <h1>Angular Router</h1>
<nav>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav> -->
<!-- <table class="table table-hover">
  <tr>
    <td>
      <h1>Product Details</h1>
        <app-update></app-update> -->
<!-- <h1>Add New Product</h1>
<div *ngIf="added" class="alert alert-info">
    {{added}}
</div>
<div>
    <label class=form-control>Product Id</label>
    <input type="text"[(ngModel)]="users.Proid" class=form-control/>
    <label class=form-control>Product Name</label>
    <input type="text" [(ngModel)]="users.Proname"class=form-control/>
    <label class=form-control>Category</label>
    <input type=text [(ngModel)]="users.Category"class=form-control/>
    <label class=form-control>Type</label>
    <input type="text" [(ngModel)]="users.Type"class=form-control>
    <label class=form-control>Description 1</label>
    <input type="text"[(ngModel)]="users.Des1" class=form-control>    
    <label class=form-control>Description 2</label>
    <input type="text"[(ngModel)]="users.Des2" class=form-control>
    <label class=form-control>Description 3</label>
    <input type="text"[(ngModel)]="users.Des3" class=form-control>
    <label class=form-control>Description 4</label>
    <input type="text" [(ngModel)]="users.Des4"class=form-control>
    <label class=form-control>Description 5</label>
    <input type="text" [(ngModel)]="users.Des5"class=form-control> 
    <label class=form-control>Price</label>
    <input type="text"[(ngModel)]="users.Proprice" class=form-control>
    <label class=form-control>Quantity</label>
    <input type="text" [(ngModel)]="users.Quantity"class=form-control>
    <label class=form-control>Image</label>
    <input type="text" [(ngModel)]="users.Proimage"class=form-control>
    <button class="btn btn-success" (click)="Addproduct()">Add Product</button>
</div> -->
<!-- </td>
<td>
  
  <app-updateordelete></app-updateordelete>
</td>
</tr>
</table> -->

<div style="background-color: white;">
  
    <!-- <div class="col-md-5" style="max-width:25%">
    <app-update></app-update>
    </div> -->
    <div>
      <app-updateordelete></app-updateordelete>
      </div>
  
</div>